@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="jumbotron text-center">
                <h1 class="display-4">Welcome to our gym!</h1>
                <p class="lead">We are your best option to achieve your fitness goals.</p>
                <br />
                <img src="https://static.vecteezy.com/system/resources/previews/003/108/337/large_2x/fitness-gym-logo-with-strong-athlete-and-barbell-vector.jpg" alt="gymTrack Logo" class="img-fluid mx-auto d-block mb-3" style="max-width: 350px;" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">About us</h2>
            <p class="text-justify">We are a passionate team of trainers, nutritionists and fitness professionals committed to the success of our members. We are proud to offer an inclusive and friendly environment where everyone can feel welcome and motivated.</p>
            <br />
            <img src="https://th.bing.com/th/id/OIP.PgkN6IbJ7wM3W0EGd7jDmgHaEb?rs=1&pid=ImgDetMain" alt="gymTrack exercise" class="img-fluid mx-auto d-block mb-3" style="max-width: 550px;" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Why We Are the Best Gym</h2>
            <p class="text-justify">At our gym, we strive to provide an exceptional experience for our members. From our state-of-the-art facilities to our dedicated staff and personalized training programs, we are committed to helping you achieve your fitness goals in an effective and fun way.</p>
            <br />
            <img src="https://downtowngallery.com.sg/images/uploads/directory-vision-gym-m-1.jpg" alt="gymTrack office" class="img-fluid mx-auto d-block mb-3" style="max-width: 550px;" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Vision</h2>
            <p class="text-justify">At our gym, we strive to be leaders in the fitness industry, offering a welcoming and motivating environment where our members can achieve their health and wellness goals.</p>
            <br />
            <img src="https://assets3.smartfit.com.br/assets/new-home-v4-assets/aulas/smart-shape-cover.webp" alt="gymTrack vision" class="img-fluid mx-auto d-block mb-3" style="max-width: 350px;" />
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Mission</h2>
            <p class="text-justify">Our mission is to provide our members with high-quality facilities, effective training programs, and a team of dedicated professionals to guide and support them on their journey to a healthier, more active life.</p>
            <br />
            <img src="https://assets.smartfit.com.br/attachments/9f2d5b2416e07929f790193be3c4ecd5c8eff9d6/store/3118937ffc914020f24815203258a598c7b412e72cca9f327ab3e4978a06/image" alt="gymTrack mision" class="img-fluid mx-auto d-block mb-3" style="max-width: 350px;" />
        </div>
    </div>
</div>
